.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid gray;
}
.logo {
  width: 150px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding: 0px 20px;
  font-size: 20px;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.restaurant-container{
    display: flex;
    flex-wrap: wrap;
}
.restaurant-card {
    margin: 5px;
    padding: 5px;
    width: 250px;
    background-color: rgb(248, 239, 228);
}
.restaurant-card:hover {
    border: 2px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;
    display: flex;
}
.restaurant-logo{
    width: 100%;
}
.filter-btn{
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 10px;
  width: 250px;
  height: 450px;
  background-color: #f0f0f0;
}

.login {
  padding: 2px 10px;
  cursor: pointer;
}

.filter {
  display: flex;
}

.user-card {
  border: 2px solid grey;
  margin: 10px;
  padding: 10px;
  width: auto;
  display: flex;
}

.user-image {
  width: 200px;
  margin-right: 20px;
}